# Ignore artifacts
build
dist
coverage
node_modules

# Ignore config/output
package-lock.json
yarn.lock

# Ignore compiled typescript
*.d.ts

# Ignore dotenv files
.env
.env.* 

# Ignore all minified files
*.min.js
*.min.css

# Ignore coverage reports or other generated docs
*.log
*.snap

# Optional: Ignore public static assets
public/

*.html
*.css
*.yml
*.yaml
*.json
*.md